.container-home
	background: #000000 url(../img/home/home-bg.png) center center no-repeat /* Фоновый цвет и фоновый рисунок*/
	-webkit-background-size: cover
	background-size: cover
	color: #ffffff /*Цвет текста на странице*/
	background-attachment: fixed /* Фон страницы фиксируется */
	margin: 0
header
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

	justify-content: space-between

	padding-top: 45px
	.menu
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	.menu li
		margin-left: 40px