.home
	text-align: center
	h2
		padding-top: 157px
		color: #fff
		font-family: 'Sedgwick Ave'
		font-weight: 400
		margin: 0
	h1
		margin: 0
		padding-top: 20px

.button a
	display: inline-block
	font-family: Montserrat
	text-transform: uppercase /*Делает заглавными*/
	font-weight: 700
	
	margin-top: 55px
	border: none solid #000000
	padding: 20px 50px
	background-color: #fed136

	text-decoration: none
	color: #fff
.button a:hover
	color: #fed136
	background-color: #fff
	text-decoration: none
	margin-bottom: inherit
