html,body
	font-size: 14px
	font-family: 'Roboto Slab'
	color: #777777
	font-weight: 400
	margin: 0
	letter-spacing: -0.35px
h1
	color: #ffffff
	font-size: 75px
	font-weight: 700
	
	font-family: Montserrat
	text-transform: uppercase
	letter-spacing: -1.88px
h2
	color: #222222
	font-size: 40px
	font-family: Montserrat
	font-weight: 700
	letter-spacing: -1px
h3
	color: #222222
	font-family: Montserrat
	font-size: 18px
	font-weight: 700
	line-height: 75px
	letter-spacing: -0.45px
h4
	color: #777777
	font-family: 'Sedgwick Ave'
	font-size: 16px
	font-style: italic

@import "header"
@import "home"
@import "services"
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Sedgwick Ave', cursive;