html, body {
  font-size: 14px;
  font-family: "Roboto Slab";
  color: #777777;
  margin: 0;
}

h1 {
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: -1.88px;
}

h2 {
  color: #222222;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: -1px;
}

.container-home {
  background: #000000 url(../img/home/home-bg.png) center center no-repeat;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  background-attachment: fixed;
  margin: 0;
}

header {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
}
header .menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .menu li {
  margin-left: 40px;
  font-family: Montserrat;
  text-transform: uppercase;
}
header .menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
}
header .menu a:hover {
  color: #fed136;
}

.home {
  text-align: center;
}
.home h2 {
  padding-top: 157px;
  color: #fff;
  font-family: "Sedgwick Ave";
  font-weight: 400;
  margin: 0;
}
.home h1 {
  margin: 0;
  padding-top: 20px;
}

.button a {
  display: inline-block;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 55px;
  border: none solid #000000;
  padding: 20px 50px;
  background-color: #fed136;
  text-decoration: none;
  color: #fff;
}

.button a:hover {
  color: #fed136;
  background-color: #fff;
  text-decoration: none;
  margin-bottom: inherit;
}
